[submodule "deps/git-fs-html5"]
	path = deps/git-fs-html5
	url = https://github.com/creationix/git-fs-html5.git
[submodule "deps/git-db-fs"]
	path = deps/git-db-fs
	url = https://github.com/creationix/git-db-fs.git
[submodule "deps/min-stream-chrome"]
	path = deps/min-stream-chrome
	url = https://github.com/creationix/min-stream-chrome.git
[submodule "deps/min-stream-helpers"]
	path = deps/min-stream-helpers
	url = https://github.com/creationix/min-stream-helpers.git
[submodule "deps/chrome-app-module-loader"]
	path = deps/chrome-app-module-loader
	url = https://github.com/creationix/chrome-app-module-loader.git
[submodule "deps/min-stream-http-codec"]
	path = deps/min-stream-http-codec
	url = https://github.com/creationix/min-stream-http-codec.git
[submodule "deps/buffer-tools"]
	path = deps/buffer-tools
	url = https://github.com/creationix/buffer-tools.git
[submodule "deps/min-stream-pkt-line"]
	path = deps/min-stream-pkt-line
	url = https://github.com/creationix/min-stream-pkt-line.git
[submodule "deps/bops"]
	path = deps/bops
	url = https://github.com/chrisdickinson/bops.git
[submodule "deps/min-stream-node"]
	path = deps/min-stream-node
	url = https://github.com/creationix/min-stream-node.git
